name: Update version

on:
  workflow_dispatch:
    inputs:
      libraryVersion:
        description: 'Library Version'
        required: true
        default: ''
      packageVersion:
        description: 'Package Version'
        required: true
        default: ''

jobs:
  update-version:
    runs-on: ubuntu-latest
    env:
      LIBRARY_VERSION: ${{ github.event.inputs.libraryVersion }}
      PACKAGE_VERSION: ${{ github.event.inputs.packageVersion }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Update Package Version
        run: |
          sed -i '/version=/!b;c \ \ \ \ version="${{ env.PACKAGE_VERSION }}",' setup.py

      - name: Update Library Version
        run: |
          sed -i '/lexactivator_libs_version =/!b;clexactivator_libs_version = "v${{ env.LIBRARY_VERSION }}"' pre-publish.py

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          branch: release/${{ env.PACKAGE_VERSION }}
          title: "chore: bump package version to ${{ env.PACKAGE_VERSION }}"
          commit-message: "chore(package version): updated version"
          body: |
            Automated package version bump.
          base: master
          add-paths: |
            pre-publish.py
            setup.py
